%h1 Customers
%table
  %tr
    %th First Name
    %th Last Name
    %th Email
    %th Phone
    %th Source UID
  - @customers.each do |customer|
    %tr
      %td= customer.first_name.upcase
      %td= customer.last_name
      %td= customer.email
      %td= customer.phone
      %td= customer.source_uid

      %td= link_to 'Show', customer
      %td= link_to 'Edit', edit_customer_path(customer)
      %td= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' }
= link_to 'New customer', new_coupon_path